@if (Model.CardNumber == 1)
{
    <h3 style="color: black;">@Model.CardNumber</h3>
}
else if (Model.CardNumber == 2)
{
    <h3 style="color: coral;">@Model.CardNumber</h3>
}
else if (Model.CardNumber == 3)
{
    <h3 style="color: darkgrey;">@Model.CardNumber</h3>
}
else if (Model.CardNumber == 4)
{
    <h3 style="color: blue;">@Model.CardNumber</h3>
}


