@model PointCard

<div style="width:100%">
    @if (Model.PointValue > 0)
    {
        <div style="float: right;"><b><i>@Model.PointValue pts</i></b></div>
    }
    <h4>@Model.Name</h4>
    @if (Model.IsScoutCard == false)
    { 
    <div>
        <div style="float: left;">@Html.Partial("_DisplayResourceCost")</div>
        <div style="text-align: center;"><img src="~/Content/Images/@Model.Image" class="img-circle" width="70" /></div>
    </div>
    }
    <br /><br />
    <div class="help-block bottom">
    <b>
        @if (Model.Frequency == CardUseFreq.OncePerTurn)
        {
            <span>Once Per Turn</span>
        }
        else if (Model.Frequency == CardUseFreq.OncePerRound)
        {
            <span>Once Per Round</span>
        }
        else if (Model.Frequency == CardUseFreq.Anytime)
        {
            <span>Anytime</span>
        }
        &nbsp;
        @Model.Description</b>
    </div>
</div>
