@model GameInstance

@{
    ViewBag.Title = "Game Time";
}

@using(Html.BeginForm("PlayGame", "Home"))
{ 
    <div class="jumbotron">
        <h1>Time for a Pizza Ball!</h1>
        <p class="lead">How many players?</p>
        <p>
            <input type="text" name="numOfPlayers" value="@Model.NumberOfPlayers" />&nbsp;
            <input type="submit" id="btnStartGame" value="Let's Play!" class="btn-info" />
        </p>
    </div>
}