@model PizzaBall.Models.GameClasses.GameInstance

@{
    ViewBag.Title = "New Game Setup";
}

@using(Html.BeginForm("PlayGame", "Home"))
{ 
    <div class="jumbotron">
        <h1>Start a New Game!</h1>
        <p class="lead">How many players?</p>
        <p>
            <input type="text" name="numOfPlayers" value="@Model.NumberOfPlayers" />&nbsp;
            <input type="submit" id="btnStartGame" value="Let's Play!" class="btn-info" />
        </p>
    </div>
}